# ValidationResult


## Properties

| Name | Type | Description | Notes |
| ------------ | ------------- | ------------- | ------------- |
| **separatorValid** | **Boolean** | Separator valid in the upload |  |
| **fileEncodingValid** | **Boolean** | File encoding valid for the upload |  |
| **errors** | [**List&lt;ValidationError&gt;**](ValidationError) | List of errors for the upload |  |




_com.mypurecloud.sdk.v2:platform-client-v2:213.0.0_
