# VerificationResult


## Properties

| Name | Type | Description | Notes |
| ------------ | ------------- | ------------- | ------------- |
| **status** | [**StatusEnum**](#Enum--StatusEnum) | The verification status. |  [optional] |
| **records** | [**List&lt;Record&gt;**](Record) | The list of DNS records that pertain that need to exist for verification. |  [optional] |


## Enum: StatusEnum

| Name | Value |
| ---- | ----- |
| OUTDATEDSDKVERSION | &quot;OutdatedSdkVersion&quot; | 
| FAILED | &quot;FAILED&quot; | 
| PENDING | &quot;PENDING&quot; | 
| VERIFIED | &quot;VERIFIED&quot; | 
| UNKNOWN | &quot;UNKNOWN&quot; | 




_com.mypurecloud.sdk.v2:platform-client-v2:212.0.0_
